{
  "addr": "0.0.0.0:8080",
  "hipchat": {
    "url": "",
    "room_id": "",
    "bot_auth": "",
    "scope_auth": ""
  },
  "bots": {
    "sheriff": {
      "enabled": true,
      "data": {
        "days": [1,2,3,4,5],
        "time": "09:00",
        "announce": true,
        "announce_time": "17:00",
        "topic": "Current sheriff: %s - MOTD here..",
        "users": []
      }
    },
    "8ball": {
      "enabled": true
    }
  }
}