{
  "addr": "0.0.0.0:8080",
  "hipchat": {
    "url": "",
    "roomId": "",
    "auth": ""
  },
  "bots": {
    "sheriff": {
      "enabled": true,
      "data": {
        "users": [
        ]
      }
    },
    "version": {
      "enabled": true
    }
  }
}